<!DOCTYPE html>
<html lang="en">

<head>
  <title>Single Order</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/order-history.js"></script>
  <link rel="stylesheet" href="../styles/header.css" />
  <link rel="stylesheet" href="../styles/order-history.css">
  <link rel="stylesheet" href="../styles/singleorder.css">
</head>

<body>
  <%- include('partials/_header') %>
  <div class="container">
    <h2 >Single Order:</h2>
    <br>
    <h3>Thank you for ordering! Your order has been submitted</h3>
    <% orders.forEach((order) => { %>
      <tr>
        <td><%= order.name %></td>
        <td>Price: $<%= order.price %></td>
        <td>Quantity: <%= order.quantity %></td>
        <td><img src ="<%= order.picture_url %>" alt="Images"></td>
      </tr>
    <% }); %>
  </div>
</body>

</html>